.root{
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #193237ff 0.0%, #2e4e58ff 50.0%, #39687cff 100.0%);
}
.label{
       -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #193237ff 0.0%, #2e4e58ff 50.0%, #39687cff 100.0%);
       -fx-font-weight: bold;
       -fx-font-size: 44px;
       -fx-font-family: Caladea;
       -fx-border-color:  linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #ffffff 40.0%, #b870f8 60.0%);
}
#labelholder{
  -fx-background-color: none;
  -fx-border-color: none;
}
.können .scroll-bar{
     -fx-background-color: blue;
     -fx-border-color: none;
}
.label:hover{
    -fx-font-family: Segoe MDL2 Assets;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: lightblue;
    -fx-border-color: green;

}
#bewerbung {
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100% 100%, #ffffff 40%,#b870f8 60%);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-size: cover;
}
#info2{
   -fx-background-color: #386679;
   -fx-background-position: right;
}
#personal1{
-fx-background-color: linear-gradient(from 0.0% 0.0% to 100% 100%, #ffffff 40%,#b870f8 60%);
}
.button: hover{
     -fx-scale-y: 2;
     -fx-text-position: center;
     -fx-effect: innershadow(gaussian, #54ffbb, 10.0, 1.0, 0.0, 1.0);
}

